@model IEnumerable<EstudioCapra.Models.ServiceModel>


<!-- BEGIN BREADCRUMBS -->
<div class="breadcrumbs">
    <h1>Seguimiento</h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li class="active">Dashboard</li>
    </ol>
</div>
<!-- END BREADCRUMBS -->
<!-- BEGIN PAGE BASE CONTENT -->
<div class="row">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.DescripcionServicio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NombreCiente)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ApellidoCiente)
                            </th>
                        </tr>

                        @foreach (var item in Model)
                          {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DescripcionServicio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreCiente)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApellidoCiente)
                                </td>
                                <td>
                                    <button id="@item.IdContrato" class="btnContractDetail">Detalles</button>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
<!-- END PAGE BASE CONTENT -->

<script>
    $(".btnContractDetail").click(function () {
        var url = "/Service/Details?idContrato=" + $(this).attr("id")
        $.ajax({
            type: 'GET',
            url: url,
            contentType: "html",
            dataType: "html",
            success: function (data) {
                $(".page-content").html(data);
            },
            error: function (data) {
                alert("Oops, algo anda mal...");
            }
        });

    })


</script>