@model EstudioCapra.Models.ServiceDetailsModel

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-6">
        <h2>Detalle de Servicio</h2>
        <h4>@Html.DisplayFor(model => model.NombreServicio)</h4>
        <h5>@Html.DisplayFor(model => model.DescripcionServicio)</h5>
        <h6>@Html.DisplayFor(model => model.FechaInicioContrato)</h6>

        
    </div>
    <div class="col-md-6">
        <hr />
        <h4>@Html.DisplayFor(model => model.ApellidoCiente) @Html.DisplayFor(model => model.NombreCiente) </h4>
        <h5>@Html.DisplayFor(model => model.DireccionCiente)</h5>
        <hr />
    </div>
</div>
    

<hr />

<div>
    @foreach (var item in Model.ListaEtapas)
    {
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Html.DisplayFor(modelItem => item.NombreEtapa)</div>
                            <div>@Html.DisplayFor(modelItem => item.DescripcionEtapa)</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    }
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdContrato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdContrato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdServicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionServicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreCiente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCiente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoCiente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoCiente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicioContrato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicioContrato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEtapaServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEtapaServicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEtapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEtapa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreEtapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEtapa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionEtapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionEtapa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicioEtapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicioEtapa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFinEtapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFinEtapa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>

