@model IEnumerable<EstudioCapra.Models.ServiceModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionServicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCiente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoCiente)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionServicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCiente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoCiente)
        </td>
        <td>
            @Html.ActionLink("Detalles", "Details", new { idContrato=item.IdContrato }) 
        </td>
    </tr>
}

</table>
